<!DOCTYPE html>
<!--
NOTE BRN: This file is just temporary for now. The serving of the index page will actually be done by the airbug server.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>minerbug</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <script type="text/javascript" src="/BugPackKey.js"></script>
        <script type="text/javascript" src="/BugPackPackage.js"></script>
        <script type="text/javascript" src="/BugPackSource.js"></script>
        <script type="text/javascript" src="/BugPackRegistryEntry.js"></script>
        <script type="text/javascript" src="/BugPackRegistry.js"></script>
        <script type="text/javascript" src="/BugPackRegistryFile.js"></script>
        <script type="text/javascript" src="/BugPackContext.js"></script>
        <script type="text/javascript" src="/BugPackApi.js"></script>
        <script type="text/javascript" src="/js/minerbug-worker-application-loader.js"></script>
    </body>
</html>
